body {
  padding: 10px;
  background: #eee;
  
  user-select: none;
}

area {
  cursor: pointer;
}

#main-container {
  width: 1024px;
  height: 576px;
  position: relative;
  overflow: hidden;
}
#main-container > img {
  width: 100%;
  height: 100%;
}
#main-container #prices-container {
  position: absolute;
  width: 900px;
  height: 500px;
  border: 1px solid black;
  background-color: brown;
  
  left: 57px;
  
  top: 577px; /* out of view by default */
  transition: top 0.5s ease;
}
#main-container #prices-container.visible {
  top: 30px;
}
#main-container #message-container {
  position: absolute;
  width: 600px;
  height: 300px;
  border: 1px solid black;
  background-color: brown;
  
  left: 215px;
  cursor: pointer;
    
  top: 577px; /* out of view by default */
  transition: top 0.2s ease;
}
#main-container #message-container.visible {
  top: 140px;
}
#main-container #message-container .hint {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
#main-container #trade-container {
  position: absolute;
  width: 300px;
  height: 450px;
  border: 1px solid black;
  background-color: brown;
  
  left: 350px;
    
  top: 577px; /* out of view by default */
  transition: top 0.5s ease;
}
#main-container #trade-container.visible {
  top: 60px;
}


#prices-container table {
  font-size: 24px;
}
#prices-container table tr:nth-child(2n) {
  background-color: #ccc;
}
#prices-container table td, #prices-container table th {
  padding: 0 5px;
}

#trade-container img {
  width: 64px;
  height: 64px;
}
#trade-container .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  height: 32px;
  line-height: 32px;
  border-top: 1px solid gray;

  cursor: pointer;
}

#player {
  transition-duration: 1s;
  
  cursor: pointer;
  
  position: absolute;
  left: 90px; /* starting town coords, could be dynamic */
  top: 380px;
}

#player img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(2px 4px 6px black);
}
